# 미스터리사인
## 두번째
### 세번째

## 미스터리사인
* 주어진 수를 보고 규칙을 찾는 문제
* bb 두번 누르면 지워짐

## Question 1 
*  큰 수 + 두 수의 차
* 22 ? 7 = 37
### 데이터 만들기

In [41]:
list1 = []
for i in range(1, 200): # 첫번째 숫자의 범위
    for j in range(1, 200): # 두번째 숫자의 범위
        result = (i + (i - j)) if i > j else (j + (j - i))
        list1.append([i , j , result])

### 데이터전처리

In [42]:
import pandas as pd
data1 = pd.DataFrame(list1, columns = ['N1', 'N2', 'Result'])
data1.head()

   N1  N2  Result
0   1   1       1
1   1   2       3
2   1   3       5
3   1   4       7
4   1   5       9

###  문제와 정답 분리
- x : 문제
- y : 정답

In [43]:
X = data1.loc[ : , ['N1' , 'N2']]
Y = data1.loc[ : , 'Result']

###  머신러닝 모델 불러오기

In [44]:
from sklearn.ensemble import RandomForestRegressor

In [45]:
rf = RandomForestRegressor()

###  모델 사용하기(학습)

In [48]:
rf.fit( X , Y)

RandomForestRegressor()

### 모델 사용하기 (예측)

In [56]:
rf.predict([ [22,7]])

array([37.04])

###  Question2
- (큰수 / 작은수)의 나머지
- 4 ? 19 = 3

## Question2

### 데이터 만들기

In [57]:
list2 = []
for i in range (1,400):
    for j in range(1, 400):
        result = (i % j) if i > j else(j % i)
        list2.append([i, j, result])

In [60]:
import pandas as pd
data2 = pd.DataFrame(list2, columns = ['N1', 'N2', 'Result'])
data2.head()

   N1  N2  Result
0   1   1       0
1   1   2       0
2   1   3       0
3   1   4       0
4   1   5       0

In [62]:
X = data2.loc[ : , ['N1' , 'N2']]
Y = data2.loc[ : , 'Result']

In [63]:
rf = RandomForestRegressor()

In [64]:
rf.fit( X , Y)

RandomForestRegressor()

In [69]:
rf.predict([[340,400]])

array([58.78])