In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
train = pd.read_csv('./data/영유아키(부모).csv', encoding ="utf-8")
test = pd.read_csv('./data/테스트(부모키).csv', encoding="euc-kr")

In [3]:
train

,1~2개월,2~3개월,3~4개월,4~5개월,5~6개월,6~7개월,7~8개월,8~9개월,9~10개월,10~11개월,...,15~18개월,18~21개월\t,21~24개월\t,2세,3세,4세,5세,성별,부,모
0,50.75,60.14,63.31,65.47,67.82,69.50,70.61,72.04,73.19,78.78,...,81.32,83.53,86.49,93.47,103.85,107.31,113.89,남,178.38,163.16
1,50.45,60.90,63.50,65.94,67.13,69.76,70.02,72.89,73.81,79.66,...,81.24,83.38,86.61,93.58,103.01,107.68,113.83,남,171.88,164.65
2,50.93,60.49,63.35,65.64,67.22,69.09,70.10,72.49,73.86,80.28,...,81.05,83.90,86.73,93.98,103.38,107.54,113.61,남,178.99,164.37
3,50.82,60.56,63.02,65.31,67.59,69.63,70.17,72.81,73.69,75.62,...,81.43,83.75,86.03,93.37,103.16,107.09,113.19,남,171.47,164.18
4,50.16,60.89,63.63,65.61,67.96,69.73,70.13,72.65,73.55,82.05,...,81.27,83.18,86.38,93.87,103.70,107.03,113.91,남,176.04,166.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,56.98,59.08,62.30,64.43,66.09,68.08,69.01,70.18,72.91,73.09,...,79.38,82.40,89.36,91.45,99.36,106.69,112.04,여,177.82,159.07
4996,56.98,59.40,62.87,64.78,66.48,68.84,69.42,70.26,72.75,73.16,...,79.86,82.06,89.42,91.83,99.11,106.06,112.28,여,172.56,160.44
4997,56.51,59.74,62.66,64.16,66.13,68.64,69.75,70.33,72.12,73.05,...,79.27,82.22,88.59,91.59,99.67,106.25,112.90,여,174.13,161.23
4998,56.09,59.56,62.92,64.22,66.33,68.04,69.97,70.84,72.17,73.53,...,79.03,82.87,87.37,91.16,99.65,106.98,112.37,여,178.78,162.95
4999,56.19,59.73,62.32,64.67,66.77,68.57,69.99,70.63,72.14,73.34,...,79.29,82.88,88.75,91.08,99.94,106.72,112.61,여,170.54,162.36

In [4]:
test

,1~2개월,2~3개월,3~4개월,4~5개월,5~6개월,6~7개월,7~8개월,8~9개월,9~10개월,10~11개월,...,15~18개월,18~21개월\t,21~24개월\t,2세,3세,4세,5세,성별,부,모
0,50.96,60.52,63.12,65.68,67.07,69.55,70.86,72.61,73.55,74.91,...,81.54,83.71,86.20,93.88,103.07,107.42,113.34,남,176.67,166.93
1,50.31,60.92,63.04,65.24,67.16,69.46,70.73,72.89,73.88,74.09,...,81.27,83.25,86.78,93.60,103.78,107.44,113.30,남,171.45,163.40
2,50.37,60.84,63.27,65.39,67.68,69.54,70.02,72.78,73.88,74.57,...,81.35,83.10,86.66,93.67,103.47,107.39,113.60,남,172.21,160.52
3,50.25,60.64,63.11,65.05,67.26,69.11,70.65,72.13,73.86,74.99,...,81.25,83.54,86.88,93.46,103.11,107.52,113.97,남,176.80,160.32
4,50.53,60.70,63.24,65.90,67.55,69.21,70.05,72.75,73.32,74.74,...,81.16,83.55,86.60,93.32,103.85,107.69,113.15,남,176.20,160.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,56.54,59.97,62.43,64.18,66.99,68.74,70.09,70.60,73.58,73.98,...,79.82,82.83,84.87,91.06,99.77,106.86,112.30,여,172.17,162.23
9996,56.17,59.01,62.59,64.28,66.43,68.46,70.24,70.50,73.31,73.91,...,79.87,82.97,84.73,91.15,99.98,106.66,112.90,여,173.26,166.23
9997,56.70,59.55,62.83,64.96,66.43,68.21,70.08,70.76,73.99,73.99,...,79.28,82.90,84.04,91.32,99.87,106.11,112.02,여,174.45,157.13
9998,56.47,59.62,62.89,64.95,66.89,68.77,71.00,70.44,73.48,73.57,...,79.96,82.83,84.45,91.91,99.32,106.82,112.38,여,177.37,163.14
9999,56.48,59.31,62.16,64.29,66.91,68.10,70.60,70.57,73.49,73.10,...,79.78,82.84,84.83,91.43,99.64,106.29,112.85,여,172.61,165.06

In [18]:
train[0:][:]

,1~2개월,2~3개월,3~4개월,4~5개월,5~6개월,6~7개월,7~8개월,8~9개월,9~10개월,10~11개월,...,15~18개월,18~21개월\t,21~24개월\t,2세,3세,4세,5세,성별,부,모
0,50.75,60.14,63.31,65.47,67.82,69.50,70.61,72.04,73.19,78.78,...,81.32,83.53,86.49,93.47,103.85,107.31,113.89,남,178.38,163.16
1,50.45,60.90,63.50,65.94,67.13,69.76,70.02,72.89,73.81,79.66,...,81.24,83.38,86.61,93.58,103.01,107.68,113.83,남,171.88,164.65
2,50.93,60.49,63.35,65.64,67.22,69.09,70.10,72.49,73.86,80.28,...,81.05,83.90,86.73,93.98,103.38,107.54,113.61,남,178.99,164.37
3,50.82,60.56,63.02,65.31,67.59,69.63,70.17,72.81,73.69,75.62,...,81.43,83.75,86.03,93.37,103.16,107.09,113.19,남,171.47,164.18
4,50.16,60.89,63.63,65.61,67.96,69.73,70.13,72.65,73.55,82.05,...,81.27,83.18,86.38,93.87,103.70,107.03,113.91,남,176.04,166.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,56.98,59.08,62.30,64.43,66.09,68.08,69.01,70.18,72.91,73.09,...,79.38,82.40,89.36,91.45,99.36,106.69,112.04,여,177.82,159.07
4996,56.98,59.40,62.87,64.78,66.48,68.84,69.42,70.26,72.75,73.16,...,79.86,82.06,89.42,91.83,99.11,106.06,112.28,여,172.56,160.44
4997,56.51,59.74,62.66,64.16,66.13,68.64,69.75,70.33,72.12,73.05,...,79.27,82.22,88.59,91.59,99.67,106.25,112.90,여,174.13,161.23
4998,56.09,59.56,62.92,64.22,66.33,68.04,69.97,70.84,72.17,73.53,...,79.03,82.87,87.37,91.16,99.65,106.98,112.37,여,178.78,162.95
4999,56.19,59.73,62.32,64.67,66.77,68.57,69.99,70.63,72.14,73.34,...,79.29,82.88,88.75,91.08,99.94,106.72,112.61,여,170.54,162.36

In [ ]:
X_train = np.array(train.drop('5세',axis = 1))
y_train = np.array(train.iloc[:,-5].copy())
X_test = np.array(test.drop('5세',axis = 1))
y_test = np.array(test.iloc[:,-5].copy())

In [19]:
df = pd.DataFrame(train)

In [21]:
df

,1~2개월,2~3개월,3~4개월,4~5개월,5~6개월,6~7개월,7~8개월,8~9개월,9~10개월,10~11개월,...,15~18개월,18~21개월\t,21~24개월\t,2세,3세,4세,5세,성별,부,모
0,50.75,60.14,63.31,65.47,67.82,69.50,70.61,72.04,73.19,78.78,...,81.32,83.53,86.49,93.47,103.85,107.31,113.89,남,178.38,163.16
1,50.45,60.90,63.50,65.94,67.13,69.76,70.02,72.89,73.81,79.66,...,81.24,83.38,86.61,93.58,103.01,107.68,113.83,남,171.88,164.65
2,50.93,60.49,63.35,65.64,67.22,69.09,70.10,72.49,73.86,80.28,...,81.05,83.90,86.73,93.98,103.38,107.54,113.61,남,178.99,164.37
3,50.82,60.56,63.02,65.31,67.59,69.63,70.17,72.81,73.69,75.62,...,81.43,83.75,86.03,93.37,103.16,107.09,113.19,남,171.47,164.18
4,50.16,60.89,63.63,65.61,67.96,69.73,70.13,72.65,73.55,82.05,...,81.27,83.18,86.38,93.87,103.70,107.03,113.91,남,176.04,166.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,56.98,59.08,62.30,64.43,66.09,68.08,69.01,70.18,72.91,73.09,...,79.38,82.40,89.36,91.45,99.36,106.69,112.04,여,177.82,159.07
4996,56.98,59.40,62.87,64.78,66.48,68.84,69.42,70.26,72.75,73.16,...,79.86,82.06,89.42,91.83,99.11,106.06,112.28,여,172.56,160.44
4997,56.51,59.74,62.66,64.16,66.13,68.64,69.75,70.33,72.12,73.05,...,79.27,82.22,88.59,91.59,99.67,106.25,112.90,여,174.13,161.23
4998,56.09,59.56,62.92,64.22,66.33,68.04,69.97,70.84,72.17,73.53,...,79.03,82.87,87.37,91.16,99.65,106.98,112.37,여,178.78,162.95
4999,56.19,59.73,62.32,64.67,66.77,68.57,69.99,70.63,72.14,73.34,...,79.29,82.88,88.75,91.08,99.94,106.72,112.61,여,170.54,162.36

In [25]:
fir=df.loc[0]

In [29]:
fir

1~2개월         50.75
2~3개월         60.14
3~4개월         63.31
4~5개월         65.47
5~6개월         67.82
6~7개월          69.5
7~8개월         70.61
8~9개월         72.04
9~10개월        73.19
10~11개월       78.78
11~12개월       76.12
12~15개월       78.46
15~18개월       81.32
18~21개월\t     83.53
21~24개월\t     86.49
2세            93.47
3세           103.85
4세           107.31
5세           113.89
성별                남
부            178.38
모            163.16
Name: 0, dtype: object

In [31]:
pd.concat(['1~2개월',])

KeyError: "['4~5개월'] not in index"